.footer {
  background-color: var(--dark-bg);
  color: var(--white-color-text);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
}

.footer-contacts {
  margin-right: 70px;
}

.map {
  color: #ffffff;
}
.contacts-footer a {
  /* color: rgba(255, 255, 255, 0.6); */
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  list-style: none;
  display: block;
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}
.mail-footer {
  margin-bottom: 9px;
  margin-top: 9px;
}

.title-footer {
  color: var(--white-color-text);
}
